/* Header */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', serif;
    background-color: #F9F4EE;
}

.body-container {
    display: flex;
}

.main-content-container {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container {
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
    display: flex;
    flex-direction: column;

}

h1 {
    text-align: center;
}

select {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.controller {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options-container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 30px;

    button {
        padding: 5px 20px 5px;
        font-size: 20px;
        border-radius: 6px;
        margin-bottom: 10px;
        background-color: #FA9F42;
        font-weight: 600;
        width: 200px;
        cursor: pointer;

    }
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
    width: 40%;
    background-color: #F6ECEC;

    h1 {
        margin-bottom: 0;
    }
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        padding-right: 10px;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

.info-table {
    width: 100%;
    padding: 20px 0 20px;
    font-size: 18px;

    tr {
        height: 40px;
    }
    th {
        text-align: right;
        padding-right: 10px;
        font-weight: bold;
    }
    input {
        width: 80%;
        box-sizing: border-box;
        font-size: 18px;
        height: 40px;
        padding-left: 10px;
    }
}

.grade-options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;

    button {
        padding: 5px 40px;
        font-size: 20px;
        border-radius: 6px;
        margin-bottom: 10px;
        background-color: #FA9F42;
        font-weight: 600;
    }
}


.content-table {
    margin-top: 30px;
    border-collapse: collapse;
    width: 90%;

    th, td {
        border: 1px solid black;
        text-align: left;
    }

    th {
        text-align: center;
        padding: 10px 20px 10px;
    }

    #table-header {
        color: white;
        background-color: #9A2229;
    }
    #table-searcher {
        color: black;
        background-color: #C18B8E
    }
    #course-column {
        width: 20%;
    }
    #class-column,#total-column,#avail-column {
        width: 1%;
    }

    td {
        padding: 10px 15px 10px;
        background-color: #F6ECEC;
        text-align: center;
    }
    .checkbox {
        transform: scale(2);
        border: none;
    }
    .checkbox-container {
        text-align: center;
    }
    .utility-column {
        width: 1%;
    }

}


.logo-table {
    width: 30px;
    height: auto;
}

.logo-table-container {
    text-align: center;
}



