<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <meta charset="utf-8"/>

</head>
<body>
<div class="sidebar-menu" th:fragment="sidebar">
    <div class="sidebar-info-container">
        <div class="sidebar-avatar"></div>
        <div class="sidebar-user-info">
            <form th:object="${user}">
            <p id="name" th:text="${user.userFullname}"></p>
            <p id="role">Admin</p>
            </form>
        </div>

    </div>
    <nav class="sidebar-navigation">

        <a id="home" href="/admin/listAdmin">HOME</a>
        <div class="option-container">
            <img class="arrow" src="/images/right-arrow.png" alt="arrow">
            <a class="option" href="/admin/details">Account Details</a>
        </div>
        <div class="dropdown">
            <div class="option-container" id="drop-down-button">
                <img class="arrow" src="/images/right-arrow.png" alt="arrow">
                <a class="option" href="#">Account List</a>
            </div>
            <div class="dropdown-content">
                <ul>
                    <li><a href="/admin/listAdmin">Admin List</a></li>
                    <li><a href="/admin/listTeacher">Teacher List</a></li>
                    <li><a href="/admin/listStudent">Student List</a></li>
                    <li><a href="/admin/listAccountant">Accountant List</a></li>
                </ul>
            </div>
        </div>
        <div class="dropdown-container">
            <a href="#">Admin List</a>
            <a href="#">Student List</a>
            <a href="#">Teacher List</a>
            <a href="#">Accountant List</a>
        </div>
        <div class="option-container">
            <img class="arrow" src="/images/right-arrow.png" alt="arrow">
            <a class="option" href="/admin/listSemester">Semester List</a>
        </div>
        <div class="option-container">
            <img class="arrow" src="/images/right-arrow.png" alt="arrow">
            <a class="option" href="/admin/listCourse">Course List</a>
        </div>
        <div class="option-container">
            <img class="arrow" src="/images/right-arrow.png" alt="arrow">
            <a class="option" href="/admin/listTimetable">Timetable List</a>
        </div>
        <div class="option-container">
            <img class="arrow" src="/images/right-arrow.png" alt="arrow">
            <a class="option" href="/admin/listClassroom">Classroom List</a>
        </div>
        <div class="option-container">
            <img class="arrow" src="/images/right-arrow.png" alt="arrow">
            <a class="option" href="/admin/listMajor">Major List</a>
        </div>
        <div class="option-container">
            <img class="arrow" src="/images/right-arrow.png" alt="arrow">
            <a class="option" href="/admin/listEnrollment">Enrollment List</a>
        </div>
        <div class="option-container">
            <img class="arrow" src="/images/right-arrow.png" alt="arrow">
            <a class="option" href="/logout">Logout</a>
        </div>

    </nav>

</div>
</body>
</html>