<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{_layout_admin}">
<head>
    <meta charset="UTF-8"/>
    <title>Teacher Account Management</title>
    <link
            href="https://fonts.googleapis.com/css?family=Inter"
            rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/admin-account-management-style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header-style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css"/>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <script
            type="text/javascript"
            th:src="@{/js/admin-account-management-js.js}"
    ></script>
</head>

<body>
<div layout:fragment="content" class="container">
    <h1>Teacher Account Information</h1>
    <div class="controller">
        <div class="options-container">
            <button id="add-button">Add Teacher</button>
            <form th:action="@{/admin/listTeacher}" method="get">
                <button type="submit" name="showAll">Show All</button>
            </form>
        </div>
        <div id="searcher">
            <form th:action="@{/admin/listTeacher}" method="get">
                <input type="text" name="teacherCode" placeholder="Search by Teacher Code">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <div id="error-popup" class="error-popup">
        <p id="error-text"> Warning </p>
        <span id="error-message"></span>
        <button  onclick="closeErrorPopup()">Close</button>
    </div>
    <!--Admin modal-->
    <div id="add-modal" class="modal">
        <form
                th:action="@{/admin/insertTeacher}"
                th:object="${teacher}"
                method="post"
                onsubmit="return validateForm()"
        >
            <div class="modal-content">
                <h1>ADD TEACHER</h1>
                <div class="table-container">
                    <table class="info-table">
                        <tr>
                            <th>Username:</th>
                            <td>
                                <div>
                                    <input type="text" th:field="*{user.username}" name="username" class="add-input"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Password:</th>
                            <td>
                                <label>
                                    <input type="text" th:field="*{user.password}" name="password" class="add-input"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Full Name:</th>
                            <td>
                                <label>
                                    <input type="text" th:field="*{user.userFullname}" name="userFullname" class="add-input"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>
                                <label>
                                    <input type="text" th:field="*{user.address}" name="address" class="add-input"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>
                                <label>
                                    <input type="email" th:field="*{user.email}" name="email" class="add-input"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Date of Birth:</th>
                            <td>
                                <label>
                                    <input type="date" th:field="*{user.dateOfBirth}" name="dateOfBirth" class="add-input"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Major:</th>
                            <td>
                                <label>
                                    <select th:field="*{major}" class="add-input">
                                        <option th:each="major : ${majors}" th:value="${major.majorId}" th:text="${major.majorName}"></option>
                                    </select>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Phone Number:</th>
                            <td>
                                <label>
                                    <input type="number" th:field="*{user.phoneNumber}" name="phoneNumber" class="add-input"/>
                                </label>
                            </td>
                        </tr>

                        <tr>
                            <th>Gender:</th>
                            <td>
                                <label>
                                    <select th:field="*{user.gender}" name="gender" class="add-input">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="grade-options-container">
                    <button type="submit" class="confirm-field" value="Teacher" th:value="*{user.setRole('Teacher')}">Confirm</button>
                    <button type="reset" id="cancel-add" class="close-field">Cancel</button>
                </div>
            </div>
        </form>
    </div>

    <!--Admin accounts table-->

    <table class="content-table">
        <thead>
        <tr id="table-header">
            <th></th>
            <th>Teacher Code</th>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Address</th>
            <th>Major</th>
            <th colspan="3" style="width: 10%; height: 20px">Option</th>
        </tr>
        <tr id="table-searcher">
            <th class="utility-column">
                <div class="logo-table-container">
                    <input
                            id="modalOpener"
                            type="image"
                            class="logo-table"
                            src="/images/search.png"
                            alt="search"
                    />
                </div>
            </th>
            <th>...</th>
            <th>...</th>
            <th>...</th>
            <th>...</th>
            <th>...</th>
            <th>...</th>
            <th>...</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${teachers}">
            <td class="checkbox-container">
                <label>
                    <input type="checkbox" class="checkbox"/>
                </label>
            </td>
            <td th:text="${teacher.teacherCode}">
            </td>
            <td th:text="${teacher.user.userFullname}"></td>
            <td th:text="${teacher.user.gender}"></td>
            <td th:text="${teacher.user.dateOfBirth}"></td>
            <td th:text="${teacher.user.email}"></td>
            <td th:text="${teacher.user.address}"></td>
            <td th:text="${teacher.major.majorName}"></td>
            <td class="utility-column">
                <div class="logo-table-container">
                    <a th:href="'/admin/updateTeacher/' + ${teacher.teacherCode}">
                        <input type="image" class="logo-table" alt="edit" th:src="@{../images/edit.png}"/>
                    </a>
                </div>
            </td>
            <td class="utility-column">
                <div class="logo-table-container">
                    <a th:href="'/admin/teacherDetail/' + ${teacher.teacherCode}">
                        <input type="image" class="logo-table" th:src="@{../images/menu.png}" alt="menu"/>
                    </a>
                </div>
            </td>
            <td class="utility-column">
                <div class="logo-table-container">
                    <a th:href="'/admin/deleteTeacher/' + ${teacher.teacherCode}">
                        <input type="image" class="logo-table" th:src="@{../images/delete.png}" alt="delete"/>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>
